@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/Inter-VariableFont_slnt_wght.ttf');
  font-weight: 100 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background-color: #052020;

  font-size: 1.6rem;
}
